<section class="section_footer">
    <footer class="main_footer">
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social_icon">
            <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-github"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
        </ul>
        <ul class="menu_footer">
            <li><a href="/">HOME</a></li>
            <li><a href="/services">SERVICES</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/contact-us">CONTACT US</a></li>
        </ul>
        <p>
            Lorem ipsum dolor sit amet, consectetur.
        </p>
    </footer>
</section>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-map-marker"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>66/1, Mazzanine Floor, Beside Abhijeet Developer, Ashish Apartment, Abhayankar Road,
                                Opp. Anandashram Bhojnalay,
                                Dhantoli, Nagpur - 440012 MH, ,IN</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>+91- 898-323-0676 / +01- 786-544-2007
                                Monday to Saturday, 10AM to PM</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>Info@TripodTechnologies.com
                                Email us your query</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <!-- <a href="index.html">
                                    <img src="https://i.postimg.cc/8kdzwwx4/pngwing-com.png" class="img-fluid"
                                        alt="logo" style="height: 75px;">
                                </a> -->
                            <h3 class="starting">About</h3>
                        </div>
                        <div class="footer-text">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor
                                incididuntut consec tetur adipisicing
                                elit,Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fa fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fa fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fa fa-google-plus google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/services">SERVICES</a></li>
                            <li><a href="/about">ABOUT</a></li>
                            <li><a href="/contact-us">CONTACT-US</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Tripod Technologies</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/services">SERVICES</a></li>
                            <li><a href="/about">ABOUT</a></li>
                            <li><a href="/contact-us">CONTACT-US</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> --}}

{{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="footer">
    <h4>About us</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dignissimos, et aspernatur quos ut suscipit maxime
        saepe a <br>vero totam? Provident officia, soluta rerum ut animi incidunt quos harum neque.</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-github"></i>
    </div>
    <p>Made with <i class="fa fa-heart-o"></i> hello everyone this a practice website without backend</p>
</section> --}}