<link rel="stylesheet" href="/static/css/style2.css">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">

<div class="wrapper">
    <h1>
        Technologies we have worked on
    </h1>
    {{!-- <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptas ipsam nisi repellendus fugit, ut est distinctio neque dignissimos nemo quo molestiae a eum repellat rem, laborum omnis dolor? Nemo?
    </p> --}}
    <div class="content-box">
        <div class="card">
            <i class="bx bx-bar-chart-alt bx-md"></i>
            <h2>Web Development</h2>
            {{!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, dolore.</p> --}}
        </div>

        <div class="card">
            <i class="bx bx-laptop bx-md"></i>
            <h2>Software Testing & QA</h2>
            {{!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, dolore.</p> --}}
        </div>

        <div class="card">
            <i class="bx bx-line-chart bx-md"></i>
            <h2>Salesforce</h2>
            {{!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, dolore.</p> --}}
        </div>

        <div class="card">
            <i class="bx bx-mail-send bx-md"></i>
            <h2>Java</h2>
            {{!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, dolore.</p> --}}
        </div>

        <div class="card">
            <i class="bx bx-bar-chart-alt bx-md"></i>
            <h2>.Net</h2>
            {{!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, dolore.</p> --}}
        </div>

        <div class="card">
            <i class="bx bx-paint bx-md"></i>
            <h2>Mean Stack</h2>
            {{!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, dolore.</p> --}}
        </div>

        <div class="card">
            <i class="bx bx-paint bx-md"></i>
            <h2>Android and IOS Applications</h2>
            {{!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, dolore.</p> --}}
        </div>

        <div class="card">
            <i class="bx bx-paint bx-md"></i>
            <h2>PHP, PHP Frameworks, Cake PHP</h2>
            {{!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, dolore.</p> --}}
        </div>

        <div class="card">
            <i class="bx bx-paint bx-md"></i>
            <h2>Hadoop</h2>
            {{!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, dolore.</p> --}}
        </div>

    </div>
</div>