
<div class="containerS">
    <div class="cardS">
        <div class="boxS">
            <div class="contentS">
                <!-- <h2>01</h2> -->
                <h3>RESPONSIBILITY</h3>
                <br><br>
                <p>We have a clear visible structure and strategy that allows and encourages individual and collective
                    responsibility. We
                    take possession of a situation and take the appropriate actions to ensure a positive and appropriate
                    declaration.</p>
                <!-- <a href="#">Read More</a> -->
            </div>
        </div>
    </div>

    <div class="cardS">
        <div class="boxS">
            <div class="contentS">
                <!-- <h2>02</h2> -->
                <h3>DELIVERING VALUE</h3>
                <br><br>
                <p>We consistently convey high quality and expenditure effective services that exceed expectations. We
                    have the ability to
                    recognize our clients’ best definition of success by delivering an unparalleled service</p>
                <!-- <a href="#">Read More</a> -->
            </div>
        </div>
    </div>

    <div class="cardS">
        <div class="boxS">
            <div class="contentS">
                <!-- <h2>03</h2> -->
                <h3>INNOVATION</h3>
                <br><br>
                <p>We deliver original and thought- maddening solutions. We are ready to try new ideas and differentiate
                    ourselves from our
                    competitors through our creative and modified services.</p>
                <!-- <a href="#">Read More</a> -->
            </div>
        </div>
    </div>
    <div class="cardS">
        <div class="boxS">
            <div class="contentS">
                <!-- <h2>01</h2> -->
                <h3>RESPONSIBILITY</h3>
                <br><br>
                <p>We have a clear visible structure and strategy that allows and encourages individual and collective
                    responsibility. We
                    take possession of a situation and take the appropriate actions to ensure a positive and appropriate
                    declaration.</p>
                <!-- <a href="#">Read More</a> -->
            </div>
        </div>
    </div>
    
    <div class="cardS">
        <div class="boxS">
            <div class="contentS">
                <!-- <h2>02</h2> -->
                <h3>DELIVERING VALUE</h3>
                <br><br>
                <p>We consistently convey high quality and expenditure effective services that exceed expectations. We
                    have the ability to
                    recognize our clients’ best definition of success by delivering an unparalleled service</p>
                <!-- <a href="#">Read More</a> -->
            </div>
        </div>
    </div>
    
    <div class="cardS">
        <div class="boxS">
            <div class="contentS">
                <!-- <h2>03</h2> -->
                <h3>INNOVATION</h3>
                <br><br>
                <p>We deliver original and thought- maddening solutions. We are ready to try new ideas and differentiate
                    ourselves from our
                    competitors through our creative and modified services.</p>
                <!-- <a href="#">Read More</a> -->
            </div>
        </div>
    </div>
</div>
</video>

{{!-- <section class="course">
    <h1>COMPANY VALUES</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <div class="row">
        <div class="course-col">
            <h3>RESPONSIBILITY</h3>
            <p>We have a clear visible structure and strategy that allows and encourages
            individual and collective responsibility. We take possession of a situation and
            take the appropriate actions to ensure a positive and appropriate declaration.</p>
        </div>
        <div class="course-col">
            <h3>DELIVERING VALUE</h3>
            <p>We consistently convey high quality and expenditure effective services that
            exceed expectations. We have the ability to recognize our clients’ best
            definition of success by delivering an unparalleled service</p>
        </div>
        <div class="course-col">
            <h3>INNOVATION</h3>
            <p>We deliver original and thought- maddening solutions. We are ready to try new
            ideas and differentiate ourselves from our competitors through our creative
            and modified services.</p>
        </div>
    </div>
    <div class="row">
        <div class="course-col">
            <h3>KNOWLEDGE</h3>
            <p>We understand the ever-changing demands and influences within our industry
            and continually review the resources, experience and expertise within our
            business to deliver a comprehensive and customer focused service.</p>
        </div>
        <div class="course-col">
            <h3>QUALITY</h3>
            <p>We ensure adherence to each and every project execution processes by
            allocating at least one team member (team leader) who is well versed and
            trained in their business processes and has undergone a complete project
            lifecycle using these processes. Project documents and profiles sent are peer-
            reviewed and/or reviewed/approved by project manager before delivery to
            verify deliverable quality.</p>
        </div>
        <div class="course-col">
            <h3>SPEED</h3>
            <p>We strongly believe in leveraging our technology expertise to
            provide HR solutions to reduce overall operations cost and
            increase return on investment (ROI) for our customers.</p>
        </div>
    </div>
</section>
 --}}

{{!-- <div class="carousel-item active">
    <img src="/static/images/wallpaper.jpg" class="d-block w-100 slider-image" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h1 class="company_values ">COMPANY VALUES</h1>
        
        <h4 class="company_header">KNOWLEDGE</h4>
        <p class="company_text">We understand the ever-changing demands and influences within our industry
            and continually review the resources, experience and expertise within our
            business to deliver a comprehensive and customer focused service.</p>
        
        <h4 class="company_header">QUALITY</h4>
        <p class="company_text">We ensure adherence to each and every project execution processes by
            allocating at least one team member (team leader) who is well versed and
            trained in their business processes and has undergone a complete project
            lifecycle using these processes. Project documents and profiles sent are peer-
            reviewed and/or reviewed/approved by project manager before delivery to
            verify deliverable quality.</p>
        
        <h4 class="company_header">SPEED</h4>
        <p class="company_text">We strongly believe in leveraging our technology expertise to
            provide HR solutions to reduce overall operations cost and
            increase return on investment (ROI) for our customers.</p>
    </div>
</div> --}}