<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/vision.css">
    <title>about page</title>
</head>

<body>
    {{>navbar data = details}}

    <div class="title white">
        <br>
        <h2 class="titleText">About us</h2>
    </div>
    <div class="about-sectionA">
    
        <div class="inner-containerA">
            <h1>COMPANY PROFILE</h1>
            <p class="textA">
                Tripod Technologies is a firm based in India providing a variety of services from IT
                Staffing & consulting, Application Development, Recruitment Process Outsourcing
                (RPO). Teaming up with Tripod Technologies recruiters helps you visibly increase your
                efficacy while significantly impacting your bottom line.
                Entering into a partnership with us, you extend your existing team, who work
                collectively with ours towards a common goal. We help our clients boost their
                productivity at low cost while letting them focus on core competencies. Moreover, you
                also skip the enormous hassle, time and cost involved in the set-up, infrastructure and
                monitoring! And you start enjoying results right from the inception of the partnership
                Within a short span of just 6 years we are the central India’s largest Resource solution
                provider for the US, Canada & Indian IT Staffing & Consulting, Application Development,
                RPO Industry. We integrate our outsourcing capability and consulting expertise to
                enable organizations to attract, engage and retain top talent. Our outsourcing solutions
                provide
                advantages like reduction in overall operational costs and time, reduce risk, increases
                the ROI and time to market your core function, thus giving you a competitive edge over
                your competitors. Tripod Technologies Pvt. Ltd in India deals with IT Staffing &
                Consulting and Application Development Services and serving clients globally in
                Information Technology, staffing Sectors.
            </p>
        </div>
    </div>
    
    <div class="about-sectionAo">
        <div class="inner-containerAo">
            <h1>OUR SERVICE</h1>
            <h2>IT STAFFING & CONSULTING SERVICES:</h2>
            <h3>Consulting services – </h3>
            <p class="textAo">
                Tripod Technologies Private Limited
                provides top consulting talent quickly and at no additional cost.
                We work on contracts with multiple clients location in US,
                Canada & India. We provide these resources on demand and
                take care of all the hassles like payroll, taxes, time tracking, and
                workers comp insurance. Each candidate of ours is well
                screened and referenced for our client’s satisfaction.
            </p>
    
            <h3>Full-time employees – </h3>
            <p class="textAo">We provide the best possible talent for
                your full-time hiring needs without leaving your pockets empty.
                We beat all the competition fees and guarantee the best talent.
            </p>
            <h3>Temp-to-perm hires – </h3>
            <p class="textAo">You need to fill a role but before that you
                want to be doubly sure that it’s the right fit. No problem at all,
                we provide temp-to hire resources who can work for you on a
                short-term contract. If everything goes well, they can be hired as
                a full-time resource.
            </p>
        </div>
    </div>
    
    <div class="about-sectionA">
        <div class="inner-containerA">
            <h1>RECRUITMENT PROCESS OUTSOURCING</h1>
            <p class="textA">
                Recruiting Expert: At Tripod Technologies we provide
                permanent experienced recruiter(s); with all the necessary
                skills, tools and technologies for recruitment process. Here the
                dedicated team or dedicated resource will work as your shadow
                team in India to support your recruitment process
                achievements. The team or resource we provide will settle in to
                your values and process and convey accurately according to
                your needs with pre-set and settled performance criteria.
                Working like an extension to your team, the dedicated recruiter
                can support you in:
            <ul>
                <li style="font-size: 13px; color: #545454; line-height: 30px;">Source, review and evaluate resumes</li>
                <li style="font-size: 13px; color: #545454; line-height: 30px;">Conduct telephonic interviews to identify
                    capable candidates.</li>
            </ul>
            </p>
        </div>
    </div>

    {{>footer}}


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>