/* navbar */
.header {

    width: 100%;
    background: linear-gradient(45deg, #e0aaaa, #ced38f);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 30px;
    height: 30px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

nav .fa {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}


/* Body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

}

body {

    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #e0aaaa, #ced38f);
}

/* Hero button */

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: rgb(7, 7, 7);
    border: 1px solid rgb(0, 0, 0);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

/* Slider */


.slider-video {
    z-index: -1;
    height: 650px !important;
    width: 100%;
    object-fit: cover;
}

@keyframes fadeIn {
    0% {
        transform: scale(1.5);
    }
}

/* Vision and Mission */

.about-sectionV {
    background: url(/static/images/s3.jpg);
    background-size: 100%;
    overflow: hidden;
    padding: 100px 0;
}

.inner-containerV {
    width: 50%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px
}

.inner-containerV h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.textV {
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skillsV {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px) {
    .inner-containerV {
        padding: 80px;
    }
}

@media screen and (max-width:1000px) {
    .about-sectionV {
        background-size: 100%;
        padding: 100px 40px;
    }

    .inner-containerV {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .about-sectionV {
        padding: 0
    }

    .inner-containerV {
        padding: 60px;
    }
}

/* Company Values */

.containerS {
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 1200px; */
    flex-wrap: wrap;
    padding: 40px 0;
    /* margin-left: 10%; */
}

.containerS .cardS {
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
        inset -5px -5px 5px rgba(225, 225, 225, 0.5),
        5px 5px 5px rgba(0, 0, 0, 0.05),
        -5px -5px 5px rgba(225, 225, 225, 0.5);
    border-radius: 15px;
    margin: 40px;
}

.containerS .cardS .boxS {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.containerS .cardS:hover .boxS {
    transform: translateY(-50px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, #b95ce4, #4f29cc);
}

.containerS .cardS .boxS .contentS {
    padding: 20px;
    text-align: center;
}

.containerS .cardS .boxS .contentS h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.02);
    transition: 0.5s;
    pointer-events: none;
}

.containerS .cardS:hover .boxS .contentS h2 {
    color: rgba(0, 0, 0, 0.05);
}

.containerS .cardS .boxS .contentS h3 {
    font-size: 1.1em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.containerS .cardS .boxS .contentS p {
    font-size: 1em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.containerS .cardS:hover .boxS .contentS h3 {
    color: #fff;
}

.containerS .cardS:hover .boxS .contentS p {
    color: #fff;
}

.containerS .cardS .boxS .contentS a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.containerS .cardS:hover .boxS .contentS a {
    background: #ff568f;
}

/* Services */
.testimonials {
    /* background: url(/static/images/vision.jpg); */
    padding-bottom: 10%;
}

.white .titleText {
    font-size: 3em;
    margin: 25px 0;
    text-align: center;
    font-weight: 600;
    color: rgb(255, 0, 82);
}

.white p {
    text-align: center;
    font-size: 2em;
}

.testimonials .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

}

.testimonials .content .box {
    width: 240px;
    margin: 20px;
    padding: 10px;
    background-color: rgba(21, 32, 43, 0.39);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonials .content .box .imgBx {
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonials .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials .content .box .text {
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}


/* Animation */
.wrapper {
    font-family: 'raleway';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(45deg, #e0aaaa, #ced38f);
}

.wrapper h1 {
    font-size: 3em;
    margin: 25px 0;
    text-align: center;
    font-weight: 600;
    color: rgb(255, 0, 82);
}

.content-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}

.card {
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 10px 4px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card i {
    margin: 20px;
    color: #ff5724;
}

.card h2 {
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
}

.card p {
    color: #6c757d;
    text-align: center;
}

.card:hover i,
.card:hover p {
    color: #fff;
}

.card:hover h2 {
    font-weight: 600;
    color: #f2f2f2;
}

.card:nth-child(1):hover {
    background: linear-gradient(45deg, rgba(255, 28, 8, 0.7) 0%, rgba(255, 0, 82, 0.7) 100%), url('/static/images/vision.jpg');
    background-size: cover;
}

.card:nth-child(2):hover {
    background: linear-gradient(45deg, rgba(255, 28, 8, 0.7) 0%, rgba(255, 0, 82, 0.7) 100%), url('/static/images/vision.jpg');
    background-size: cover;
}

.card:nth-child(3):hover {
    background: linear-gradient(45deg, rgba(255, 28, 8, 0.7) 0%, rgba(255, 0, 82, 0.7) 100%), url('/static/images/vision.jpg');
    background-size: cover;
}

.card:nth-child(4):hover {
    background: linear-gradient(45deg, rgba(255, 28, 8, 0.7) 0%, rgba(255, 0, 82, 0.7) 100%), url('/static/images/vision.jpg');
    background-size: cover;
}

.card:nth-child(5):hover {
    background: linear-gradient(45deg, rgba(255, 28, 8, 0.7) 0%, rgba(255, 0, 82, 0.7) 100%), url('/static/images/vision.jpg');
    background-size: cover;
}

.card:nth-child(6):hover {
    background: linear-gradient(45deg, rgba(255, 28, 8, 0.7) 0%, rgba(255, 0, 82, 0.7) 100%), url('/static/images/vision.jpg');
    background-size: cover;
}

.card:nth-child(7):hover {
    background: linear-gradient(45deg, rgba(255, 28, 8, 0.7) 0%, rgba(255, 0, 82, 0.7) 100%), url('/static/images/vision.jpg');
    background-size: cover;
}

.card:nth-child(8):hover {
    background: linear-gradient(45deg, rgba(255, 28, 8, 0.7) 0%, rgba(255, 0, 82, 0.7) 100%), url('/static/images/vision.jpg');
    background-size: cover;
}

.card:nth-child(9):hover {
    background: linear-gradient(45deg, rgba(255, 28, 8, 0.7) 0%, rgba(255, 0, 82, 0.7) 100%), url('/static/images/vision.jpg');
    background-size: cover;
}




/* responsive */

@media(max-width: 991px) {
    .wrapper {
        padding: 25px;
    }

    .wrapper h1 {
        font-size: 2.5em;
        font-weight: 600;
    }

    .content-box {
        flex-direction: column;
        width: 100%;
    }

    .card {
        min-width: 300px;
        margin: 10px auto;
    }
}

/* About us  */
/* About us  */
.about-colA {
    padding: 3%;

    text-align: center;
    color: rgb(255, 0, 82);
    padding-bottom: 5%;
    font-weight: 600;

}

.about-sectionA {
    /* background: url(../images/s3.jpg); */
    background-size: 100%;
    overflow: hidden;
    /* padding: 100px 0; */
}

.inner-containerA {
    width: 80%;
    float: right;
    background-color: #fdfdfd;
    padding: 100px;
}

.inner-containerA h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.textA {
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skillsA {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

.textA ul {
    text-align: justify;
}

@media screen and (max-width:1200px) {
    .inner-containerA {
        padding: 80px;
    }
}

@media screen and (max-width:1000px) {
    .about-sectionA {
        background-size: 100%;
        padding: 100px 40px;
    }

    .inner-containerA {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .about-sectionA {
        padding: 0
    }

    .inner-containerA {
        padding: 60px;
    }
}

/* Second Section */

.about-sectionAo .about-colAo {
    text-align: center;
    color: white;
    padding-bottom: 5%;
}

.about-sectionAo {
    /* background: url(../images/s3.jpg); */
    background-size: 100%;
    overflow: hidden;
    padding: 100px 0;
}

.inner-containerAo {
    width: 80%;
    float: left;
    background-color: #fdfdfd;
    padding: 150px
}

.inner-containerAo h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.inner-containerAo h2 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 600;
}

.inner-containerAo h3 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 500;
}

.textAo {
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}


.skillsAo {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px) {
    .inner-containerAo {
        padding: 80px;
    }
}

@media screen and (max-width:1000px) {
    .about-sectionAo {
        background-size: 100%;
        padding: 100px 40px;
    }

    .inner-containerAo {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .about-sectionAo {
        padding: 0
    }

    .inner-containerAo {
        padding: 60px;
    }
}

/* Contact Us */
.container-C {
    position: relative;
    text-align: center;
    color: black;
    font-size: 50px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe {
    width: 100%;
}

.contact-us {
    width: 80%;
    margin: auto;
}

.contact-col {
    /* flex-basis: 48%; */
    margin-bottom: 30px;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa {
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p {
    padding: 0;
}

.contact-col div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

.contact-col input,
.contact-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 3px solid #000000;
    box-sizing: border-box;
    opacity: 50%;
}



/* Footer */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 800px) {
    .section_footer {
        padding-top: 20%;
    }

    .menu_footer {
        text-align: center;
        justify-content: center;
    }

    .main_footer ul {
        text-align: center;
        justify-content: center;
        padding-right: 30px;
    }

}

.section_footer {
    margin-top: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 50vh;
    /* background: #333; */
}

.main_footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_footer .social_icon,
.main_footer .menu_footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.main_footer .social_icon li,
.main_footer .menu_footer li {
    list-style: none;
}

.main_footer .social_icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.main_footer .social_icon li a:hover {
    transform: translateY(-10px);
}

.main_footer .menu_footer li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

.main_footer .menu_footer li a:hover {
    opacity: 1;
}

.main_footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.main_footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/static/images/wave.png);
    background-size: 1000px 100px;
}

.main_footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animationWave 4s linear infinite;
}

.main_footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animationWave_02 4s linear infinite;
}

@keyframes animationWave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animationWave_02 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

.main_footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animationWave 3s linear infinite;
}

.main_footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animationWave_02 3s linear infinite;
}